n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interview/start"
      },
      "name": "Interview Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://api.kokorottsai.com/api/tts",
        "options": {},
        "responseFormat": "file",
        "dataPropertyName": "data",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "{\"text\":\"={{$json[\"question\"]}}\",\"voice\":\"en-US-female\"}"
      },
      "name": "TTS (Kokoro)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interview/answer"
      },
      "name": "Receive Answer Audio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "file": "={{$binary[\"data\"]}}",
        "model": "whisper-1"
      },
      "name": "Whisper STT",
      "type": "n8n-nodes-langchain.openai",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "http://localhost:5000/emotion",
        "options": {},
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "{\"image\": \"={{$binary[\"webcam_frame\"]}}\"}"
      },
      "name": "DeepFace (Emotion)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "functionCode": "items[0].json.feedback = `Q: ${items[0].json.question}\\nA: ${items[1].json.transcription}\\nEmotion: ${items[2].json.emotion}`;\nreturn items;"
      },
      "name": "Aggregate Feedback",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.craftmypdf.com/v1/create-pdf",
        "options": {},
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"template_id\": \"YOUR_TEMPLATE_ID\",\n  \"data\": {\n    \"feedback\": \"={{$json[\"feedback\"]}}\"\n  }\n}"
      },
      "name": "Generate PDF (CraftMyPDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1300, 300],
      "credentials": {
        "httpHeaderAuth": "CraftMyPDF API"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond with PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Interview Trigger": {
      "main": [
        [
          {
            "node": "TTS (Kokoro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (Kokoro)": {
      "main": [
        [
          {
            "node": "Receive Answer Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Answer Audio": {
      "main": [
        [
          {
            "node": "Whisper STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper STT": {
      "main": [
        [
          {
            "node": "DeepFace (Emotion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepFace (Emotion)": {
      "main": [
        [
          {
            "node": "Aggregate Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Feedback": {
      "main": [
        [
          {
            "node": "Generate PDF (CraftMyPDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF (CraftMyPDF)": {
      "main": [
        [
          {
            "node": "Respond with PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
